{% extends 'base.html' %}
{% load djmoney %}
{% load mathfilters %}
{% load index %}
{% load endswith %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

<div class="head_buttons" style="margin-top: 10px ;">

  {% if user.is_superuser %}
  <button type="button" style="margin-left:10%;" data-toggle="modal" data-target="#DeleteItemModal" class="btn btn-primary">
    Delete
  </button>
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UploadFileModal">
    import 
  </button>

  {% endif %}

    <button class="btn btn-secondary dropdown-toggle" style="margin-left:10%;" type="button" id="ExportdropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
    <div class="dropdown-menu" aria-labelledby="ExportdropdownMenuButton">
      <a href="export_xlsx" class="dropdown-item" style="text-decoration: none;">
        Export Excel </a>
        <a href="export_csv" class="dropdown-item" style="text-decoration: none;">
          Export CSV</a>
    </div>



    <button type="button" class="btn btn-primary" onclick="multi_print()">
      Print
    </button>

    {% if user.is_superuser %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditEntryModal" onclick="edit()">
      Update
    </button>
    {% endif %}

</div>



<div class="container" style="overflow:auto; margin-left:auto;margin-right:auto  ;margin-top:3%;">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th class="table-head table-data"
                  style="text-align:center ;padding: 8px;border: 1px solid #dddddd;">
                  S.No.
              </th>
              {% for key in columns %}
                  <th class="table-head table-data"
                      style="text-align:center ;padding: 8px;border: 1px solid #dddddd;">
                      {{key.verbose_name}}
                  </th>
                  {% endfor %}
                  
                <!-- <th class="table-head table-data"
                    style="text-align:center ;padding: 8px;border: 1px solid #dddddd;">
                    Delete
                    <i id="delete-all-icon" class="fas fa-trash"></i>
                  
                </th> -->
                <!-- <th class="table-head table-data"
                    style="text-align:center ;padding: 8px;border: 1px solid #dddddd;">
                    Print <a href=""><i class="fa fa-print" onclick="multi_print()"></i></a>
                    {% comment %} <i id="delete-all-icon" class="fas fa-trash"></i> {% endcomment %}
                    <input type="checkbox" name="select-all-print" id="select-all-print" />
                </th> -->
                <!-- {% if user.is_superuser %}
                <th class="table-head table-data"
                    style="text-align:center ;padding: 8px;border: 1px solid #dddddd;">
                    Update
                </th>
                {% endif %} -->

          </tr>

      </thead>

      <tbody>

          {% for user_data in all_data %}
          <tr>
              <td>
                  <center>{{forloop.counter}}</center>
              </td>

              {% for x,v in user_data.items %}
                  {% if x %}

                      {% if forloop.counter|isequal:1  %}
                      <td>
                      <input type="checkbox" name="select_item" id="{{user_data.id}}" value="{{user_data.barcode}}" >
                    </td>
                      

                      {% elif forloop.counter|isequal:7 or forloop.counter|isequal:9 %}
                        <td>
                          <center>{{"INR"|curr}}{{v}}</center>
                        </td>

                        {% elif forloop.counter|isequal:11 %}
                        <td>
                          <div id="{{v}}">
                          <img src="{% get_media_prefix %}{{v}}"  height="100px">
                          </div>
                        </td>
                      {% else %}
                        <td>
                        <center>{{v}}</center>
                        </td>
                      {% endif %}
                  {% else %}
                    <td>
                    <center>Not set yet</center>
                    </td>
                  {% endif %}
              
              {% endfor %}
              <!-- <td tyle="text-align:center ;padding: 16px;border: 1px solid #dddddd;"><input type="checkbox"
                name="delete_item" id="{{user_data.id}}" value="{{user_data.id}}" ></td>
              <td tyle="text-align:center ;padding: 16px;border: 1px solid #dddddd;">
                <input type="checkbox" name="print_item" id="print_{{user_data.id}}" value="{{user_data.barcode}}" >
                <i class="fa fa-print" onclick="printDiv('{{user_data.barcode}}')"></i>
              </td> -->
              {% if user.is_superuser %}
              <!-- <td>
                <a href="" class="nav-link px-2 text-black" data-toggle="modal" data-target="#EditEntryModal" onclick="modalpopup('{{user_data.id}}')" ><i class="fas fa-edit"></i></a>
              </td> -->
              {% endif %}
              
          </tr>
          {% endfor %}
      </tbody>
  </table>
  
</div>

    <!-- Delete Item Modal -->
    <div class="modal fade" id="DeleteItemModal" tabindex="-1" role="dialog" aria-labelledby="DeleteItemModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeleteItemTitle">Delete Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="del_item" id="del_form" method="post">
            {% csrf_token %}  
            <div class="form-group">
              <p>Are you sure to delete the item? This action is irreversible. Your data will be lost and will not be recovered if you have not taken backup (export) Proceed with caution!</p>
              <div class="form-group">
                <label for="id_del_pass">Password</label>
                  <input type="password" name="del_pass" value="" maxlength="100" class="form-control"  id="del_pass" placeholder="Enter your Password">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="del_items()">Delete</button>
        </div>
      </div>
    </div>
  </div>


<!-- EDIT Modal -->
<div class="modal fade" id="EditEntryModal" tabindex="-1" role="dialog" aria-labelledby="EditEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditEntryModalLabel">Edit Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body EditEntryModalBody" id="EditEntryModalBody">
        {% include 'EditEntry_page.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="update_entry()">Save changes</button>
      </div>
    </div>
</div>
</div>


<!-- Add Fund Modal -->
<div class="modal fade" id="AddFundModal" tabindex="-1" role="dialog" aria-labelledby="AddFundModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddFundModalLabel">Add Fund</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="AddFundModalBody">
        <form action="add_funds" method="post" id="add_fund_form">
          {% csrf_token %}
          {% for hidden_field in funds_form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if funds_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in funds_form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in funds_form.visible_fields %}
          <div class="form-group">
              {{ field.label_tag }}

              {% if funds_form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}

              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="add_new_fund()">Save changes</button>
      </div>
    </div>
</div>
</div>

<script>

  function add_new_fund()
  {
    var add_fund_form = document.getElementById("add_fund_form");
    add_fund_form.submit();
  }

  $('#select-all-delete').click(function (event) {
      if (this.checked) {
          // Iterate each checkbox
          jQuery("input[name='delete_item']").each(function () {
              this.checked = true;
          });
      } else {
        jQuery("input[name='delete_item']").each(function () {
              this.checked = false;
          });
      }
  });
  $('#select-all-print').click(function (event) {
      if (this.checked) {
          // Iterate each checkbox
          jQuery("input[name='print_item']").each(function () {
              this.checked = true;
          });
      } else {
        jQuery("input[name='print_item']").each(function () {
              this.checked = false;
          });
      }
  });
  var del_item_list = new Set();
  var print_item_list = new Set();
  var edit_item_list = new Set();

  
  function del_items()
  {
    var markedCheckbox = document.getElementsByName('select_item');
    for (var checkbox of markedCheckbox) {  
      if (checkbox.checked)  
        del_item_list.add(checkbox.id);  
      else
        del_item_list.delete(checkbox.id)
    }
    console.log(del_item_list);
    var del_form = document.getElementById("del_form");
    const hiddenField = document.createElement('input')
    hiddenField.type = 'hidden';
    hiddenField.name = 'delete_item_list';
    hiddenField.value = Array.from(del_item_list);
    del_form.appendChild(hiddenField);
    del_form.submit();
  }

  function multi_print()
  {
    var markedCheckbox_print = document.getElementsByName('select_item');
    for (var checkbox of markedCheckbox_print) {  
      if (checkbox.checked)  
        print_item_list.add(checkbox.value);  
      else
        print_item_list.delete(checkbox.value);
    }
    console.log(print_item_list);
    var a = window.open('', '', 'height=500, width=500');
    a.document.write('<html>');
    a.document.write('<body >');
      for(var item of print_item_list)
      {
    
        var div_contents = document.getElementById(item).innerHTML;
        a.document.write(div_contents)
      }

      for(var image_item of a.document.images)
      {
        image_item.style.height = "190px";
        image_item.style.width = "270px";
      }
    a.document.write('</body></html>');
    a.document.close();
    a.print();
  }

  function update_entry(){
    var update_form = document.getElementById("EditEntryForm");
    update_form.submit();
  }

  


  function printDiv(elem_id) {
   
    var divContents = document.getElementById(elem_id).innerHTML;
    var a = window.open('', '', 'height=500, width=500');
    a.document.write('<html>');
    a.document.write('<body >');
    a.document.write(divContents);
    for(var image_item of a.document.images)
      {
        image_item.style.height = "190px";
        image_item.style.width = "270px";
      }
    a.document.write('</body></html>');
    a.document.close();
    a.print();
}




function edit()
{
  var markedCheckbox = document.getElementsByName('select_item');
    for (var checkbox of markedCheckbox) {  
      if (checkbox.checked)  
        edit_item_list.add(checkbox.id);  
      else
        edit_item_list.delete(checkbox.id)
    }
    console.log(edit_item_list);
    for( var value of edit_item_list)
    {
      console.log(value);
      modalpopup(value);
    }

}

function modalpopup(id){
  req_url="edit_entry/"+String(id);
  $('#EditEntryModalBody').load(req_url);
}

</script>
{% endblock body %}