{% extends 'base.html' %}
{% load static %}
{% block body %}

    <script>
      $(document).ready(function(){
        $("#ScanBarcodeModal").on('shown.bs.modal', function(){
            $(this).find('input[type="text"]').focus();
        });
    });
    </script>

    <center><h1 style="margin-top: 3%;">Inventory Asset Management System</h1></center>
    <!-- <div class="controls"> -->
      <center><div class ="controls pt-1" id="controls" style="width: 80%;">
    <div class="buttons pt-1" >
        <div class="row row-cols-1 row-cols-md-2 m-3 g-5">
            <div class="col" data-toggle="modal" data-target="#ScanBarcodeModal" style="height: 50%;">
              <div class="card h-100">
                <a href="#" class="card-block stretched-link text-decoration-none"></a>
                <div class="card-body">
                  <img src="/static/image/scanner.png " height="50px" alt="">
                  <h5 class="card-title mt-2"><b>Scan Code</b></h5>
                  <p class="card-text">Scan a Bar code with the Scanner to get information.</p>
                </div>
          
              </div>
            </div>
            <div class="col" data-toggle="modal" data-target="#NewEntryModal">
              <div class="card h-100">
                <a href="#" class="card-block stretched-link text-decoration-none"></a>
                <div class="card-body">
                  <img src="/static/image/entry.png " height="50px" alt="">
                  <h5 class="card-title mt-2" ><b>ADD Entry</b></h5>
                  <p class="card-text">ADD a new record for an item.</p>
                </div>
              
              </div>
            </div>
            <div class="col" data-toggle="modal" data-target="#SearchModal">
              <div class="card h-100">
                <a class="card-block stretched-link text-decoration-none" href="#"></a>
                <div class="card-body">
                  <img src="/static/image/search.png " height="50px" alt="">
                  <h5 class="card-title mt-2"><b>Search</b></h5>
                  <p class="card-text">Search an entry by the Year of purchase of Fund name.</p>
                </div>
              
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a class="card-block stretched-link text-decoration-none" href="all_entries"></a>
                <div class="card-body">
                  <img src="/static/image/show.png " height="50px" alt="">
                  <h5 class="card-title mt-2"><b>Show All Entries</b></h5>
                  <p class="card-text">Click Here to see all the items.</p>
                </div>
              </a>
              </div>
            
            </div>
            
    </div>
  </div></center>






  <!-- NEW Entry Modal -->
  <div class="modal fade" id="NewEntryModal" tabindex="-1" role="dialog" aria-labelledby="NewEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewEntryModalLabel">Add New Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <form action="add_item" method="post" id="NewEntryForm" novalidate>
                {% csrf_token %}
                {% include 'New_entry.html' with form=NewEntryForm %}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="SubmitForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Search Modal -->
  <div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SearchModalLabel">Search Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="filter_form" id="filter_form" action="filter_data" method="post" style="margin-top: 3%;">
            {% csrf_token %}
            <div class="form-group">
            Filter by : <select name="filter_by" id="filter_by" class="form-control">
                <option value="select" selected="selected">choose one</option>
                <option value="Fund" >Fund</option>
                <option value="Year" >year</option>
                <option value="FNY" >Fund and year</option>
            </select>
          </div>
            <div class="form-group">
            Fund: <select name="Fund" id="fund" disabled class="form-control">
                <option value="select" selected="selected">Select fund</option>
                {% for i in funds %}
                <option value="{{i.fund_name}}" >{{i.fund_name}}</option>
                {% endfor %}
              </select>
            </div>
              <div class="form-group">
            year = <input type="number" name="year" id="year" disabled class="form-control">
          </div>
          
        </form>
        
        <script>
            window.onload = function()
            {
                var filter_by_selection = document.getElementById('filter_by');
                filter_by_selection.addEventListener('change', function handleChange(event) {
                    var filter_val = event.target.value;
                    if(filter_val=="Fund")
                    {
                        document.getElementById('fund').disabled=false;
                        document.getElementById('year').disabled=true;
                    }
        
                    else if (filter_val=='Year') 
                    {
                        document.getElementById('fund').disabled=true;
                        document.getElementById('year').disabled=false;
                    }
        
                    else if (filter_val=="FNY")
                    {
                        document.getElementById('fund').disabled=false;
                        document.getElementById('year').disabled=false;
                    }
        
                    else
                    {
                        document.getElementById('fund').disabled=true;
                        document.getElementById('year').disabled=true;
                    }
                });
            }
        </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="SubmitFilterForm()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function SubmitForm()
    {
        document.getElementById("NewEntryForm").submit();
    }
    function SubmitFilterForm()
    {
        document.getElementById("filter_form").submit();
    }

    function ScanBarcode(){
      document.getElementById("scan_barcode_form").submit();
    }

    

  </script>
{% endblock body %}
