{% extends 'base.html' %}
{% load static %}
{% block body %}

    <script>
      $(document).ready(function(){
        $("#ScanBarcodeModal").on('shown.bs.modal', function(){
            $(this).find('input[type="text"]').focus();
        });
    });
    </script>




    <!-- <div class="card-deck">
      <div class="card"  data-toggle="modal" data-target="#ScanBarcodeModal" style="height: 50%;">
        <a href="#" class="card-block stretched-link text-decoration-none"></a>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Scan Code</h5>
          <p class="card-text">Scan a Bar code with the Scanner to get information.</p>
        </div>
      </div>

      <div class="card" data-toggle="modal" data-target="#NewEntryModal">
        <a href="#" class="card-block stretched-link text-decoration-none"></a>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" >ADD Entry</h5>
          <p class="card-text">ADD a new record for an item.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card" >
        <a class="card-block stretched-link text-decoration-none" href="all_entries"></a>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Show All Entries</h5>
          <p class="card-text">Click Here to see all the items.</p>
        </div>
      </div>
    </div> -->


    <div class="buttons" >
        <div class="row row-cols-1 row-cols-md-3 m-3 g-3">
            <div class="col" data-toggle="modal" data-target="#ScanBarcodeModal" style="height: 50%;">
              <div class="card h-100">
                <a href="#" class="card-block stretched-link text-decoration-none"></a>
                <div class="card-body">
                  <h5 class="card-title">Scan Code</h5>
                  <p class="card-text">Scan a Bar code with the Scanner to get information.</p>
                </div>
          
              </div>
            </div>
            <div class="col" data-toggle="modal" data-target="#NewEntryModal">
              <div class="card h-100">
                <a href="#" class="card-block stretched-link text-decoration-none"></a>
                <div class="card-body">
                  <h5 class="card-title" >ADD Entry</h5>
                  <p class="card-text">ADD a new record for an item.</p>
                </div>
              
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a class="card-block stretched-link text-decoration-none" href="#"></a>
                <div class="card-body">
                  <h5 class="card-title">Search By Year</h5>
                  <p class="card-text">Search an entry by the Year of purchase.</p>
                </div>
              
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a class="card-block stretched-link text-decoration-none" href="all_entries"></a>
                <div class="card-body">
                  <h5 class="card-title">Show All Entries</h5>
                  <p class="card-text">Click Here to see all the items.</p>
                </div>
              </a>
              </div>
            
            </div>
            
    </div>
  






  <!-- Modal -->
  <div class="modal fade" id="NewEntryModal" tabindex="-1" role="dialog" aria-labelledby="NewEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewEntryModalLabel">Add New Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <form action="add_item" method="post" id="NewEntryForm" novalidate>
                {% csrf_token %}
                {% include 'New_entry.html' with form=NewEntryForm %}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="SubmitForm()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function SubmitForm()
    {
        document.getElementById("NewEntryForm").submit();
    }

    function ScanBarcode(){
      document.getElementById("scan_barcode_form").submit();
    }

    

  </script>
{% endblock body %}