{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block head %}

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<link href="{% static 'css/bootstrap_4.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'js/bootstrap_4.min.js' %} "></script>
<script src="{% static 'js/jquery_3_2_1.min.js' %} "></script>


{% load static %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">

{% endblock head %}

{% block body %}

    <div id="login-row" class="row justify-content-center align-items-center">
        <center><h2 style="margin-top: 5%;">Inventory Asset Management System</h2></center>
        <div id="login-column" class="col-md-3">
            <div class="box" style="margin: 100px 0 ;">
                <div class="float">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in login_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            <h3>{{ field.label }} {{ field }}</h3>
                        </div>
						{% endfor %}                    
        
                        <button class="btn btn-success" type="submit">Login</button>
                      </form>
                        <div class="form-group">
                            <br><h5>Don't have account ??</h5><br>
                            <a href="{% url 'signup'%}" ><button class="btn btn-info btn-md" >Register</button></a>
                            <a href="reset_password/" ><button class="btn btn-info btn-md" >Forgot Password</button></a>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}